.qv-object-apply-selections {
  div.button {
    padding: 6px;
    font-size: 14px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid #adadad;
    width: calc(100% - 16px);
    border-radius: 0px;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
  }
  div.button:hover {
    font-weight: 500;
    color: white;
    background-color: #343a40;
  }
}
